.navbar-paintings {
    background-color: #c0ccd8;
}

.navbar-paintings .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px
}

.navbar-paintings .navbar-nav .nav-link {
    color: #495057;
}

.navbar-paintings .navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-collapse {
    margin-right: 20px;
}

.navbar-paintings .form-control {
    border-color: #007bff;
}