.navbar-paintings {
    background-color: #dbe2ea; /* Light background color */
}

.navbar-paintings .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
}

.navbar-paintings .navbar-nav .nav-link {
    color: #495057; /* Text color */
}

.navbar-paintings .navbar-nav .nav-link:hover {
    color: #007bff; /* Hover color */
}

.navbar-paintings .form-control {
    border-color: #007bff; /* Border color for the search bar */
}