.navbar-paintings {
    background-color: #c0ccd8; /* Light background color */
}

.navbar-paintings .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin-left: 20px
}

.navbar-paintings .navbar-nav .nav-link {
    color: #495057; /* Text color */
}

.navbar-paintings .navbar-nav .nav-link:hover {
    color: #007bff; /* Hover color */
}

.navbar-collapse {
    margin-right: 20px;
}

.navbar-paintings .form-control {
    border-color: #007bff; /* Border color for the search bar */
}